.content-section
  padding: 4mm 0

.content-container
  margin: 0 auto
  width: 154mm

.content-section p
  margin: 0

.content-header
  text-transform: uppercase
  color: $accent
  font-size: 14pt
  margin: 0
  margin-bottom: 4mm 0

.content-item
  display: grid
  grid-template-areas: "interval header" "interval info"
  grid-template-columns: 33mm auto
  font-size: 9pt
  color: $grey
  grid-column-gap: 5mm

.content-item-header
  grid-area: header
  font-size: 10pt
  color: #000
  font-weight: 400
  margin: 0

.content-item-interval
  grid-area: interval

.content-item-remarks-header
  grid-area: remarks-header

.content-item-remarks-text
  grid-area: remarks-text

.content-item-info
  grid-area: info

.content-item-info-text

  margin-top: 1.5mm
